@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.dock-container {
  background-image: url(../vehicle-images/hangar-bay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 5rem;
  font-family: 'Exo', sans-serif;
  color: white;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.dock-card {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 45vw;
  min-height: 70vh;
  padding: 15px;
  border: 15px solid rgb(65, 65, 65);
  outline: 1px solid black;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 10px 10px 15px 0px black;
  z-index: 5;
  /* left: 100%; */
}

form {
  width: 100%;
  padding: 10px 20px;
}

input {
  width: 100%;
  margin-bottom: .75rem;
  margin-top: .25rem;
  background-color: rgb(13, 27, 71);
  border: 1px solid white;
  color: white;
  /* height: 1.5rem; */
  padding: 7px;
  font-size: large;
}

.payment-address {
  padding: 15px;
  margin-bottom: 15px;
}

.final-details {
  width: 50%;
  padding: 15px;
}

.final-ship {
  display: flex;
  justify-content: space-between;
}

.final-ship > p {
  width: 33%;
}

.final-price {
  display: flex;
  justify-content: space-between;
}

.checkout-symbol {
  scale: .7;
  position: relative;
  top: 4px;
  right: -2px;
}

.submit-button {
  margin-top: 1rem;
  height: 3rem;
  font-size: larger;
}

.purchase-button {
  font-size: x-large;
  font-weight: 900;
  text-align: center;
  padding: 1rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* .card-animation {
  position: absolute;
  transform: translateX(-170%);
  transition: 1s;

}

@keyframes card-appear {
  0% {left: -300%};
  50% {left: -10%};
  100% {left: 0%};
} */