@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.cart-container {
  background-image: url(../vehicle-images/hangar-cart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 5rem;
  font-family: 'Exo', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-card {
  background-color: black;
  width: 80vw;
  border: 15px solid rgb(65, 65, 65);
  outline: 1px solid black;
  border-radius: 5px;
  margin-top: 2rem;
  box-shadow: 10px 10px 15px 0px black;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  /* padding: 15px; */
}

.cart-item > h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.cart-price {
  position: relative;
}

.cart-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 17rem;
}

.grand-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 1.4rem;
  width: 30%;
}

.scale {
  transition: 100ms;
}

.scale:hover {
  scale: 1.05;
  transition: 100ms;
}