* {
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vehicle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 20px;
  background-color: aliceblue;

}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.clickable {
  cursor: pointer;
  background-color: rgba(0, 0, 156, 0.5);
}

.glow-border {
  border: 1px solid white;
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0%{
    box-shadow: 0px 0px 10px 0px rgba(50,50,255,1);
    text-shadow: 0px 0px 10px rgba(200,200,255,.5);
  }
  50%{
    box-shadow: 0px 0px 16px 0px rgba(50,50,255,1);
    text-shadow: 0px 0px 16px rgb(0, 0, 151);
  }
  100%{
    box-shadow: 0px 0px 10px 0px rgba(50,50,255,1);
    text-shadow: 0px 0px 10px rgba(200,200,255,.5);
  }
}